<% provide(:title, "Edit game") %>
<h1>Edit your game:</h1>

<div class="row" >
  <div class="col-md-8 col-md-offset-2">
        <%= form_for(@game) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :game_name, placeholder: "Game title!..." %>
          <%= f.text_area :issue_area, placeholder: "Issue area..." %>
          <%= f.text_area :summary, placeholder: "Game summary..." %>
          <!--code to add private/public functionality-->
          <%# label_tag(:private_game, "Private") %>
          <%# f.radio_button :private_game, true , :checked => true , :value => true %>
          <%# label_tag(:private_game, "Public") %>
          <%#f.radio_button :private_game, false, :value => false%>
        </div>
        
        <hr/>
        <!---->
        <!--Begin questions-->
        <!---->
        <% unless @questions.nil? %>
    <h3><%= "Questions: " %></h3><br>
    <% @questions.each do |ques| %>
        <% if current_user?(@game.user) %>
            <% @q_num = @q_num + 1 %>
            <div class=question-container>
              <h4><%= "Question #{@q_num}:" %> </h4>
              <div class="row" >
              <div class="col-md-12"  id="mock_gameboard">
                  <div id="mock_card-0" class="mock_card"> 
                    <div class="mock_back">
                      <b><%= "#{ques.content}" %></b>
                    </div> 
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer1 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-1" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>1.</strong>
                            <%= " #{ ques.answer1 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer2 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-2" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>2.</strong>
                           
                            <%= " #{ ques.answer2 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
              </div>
              <br>
              <!--answer row 2-->
              <div class="row">
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer3 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-3" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>3.</strong>
                            <%= " #{ ques.answer3 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer4 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-4" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>4.</strong>                   
                            <%= "#{ ques.answer4 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
              </div>
              <br>
              <!--answer row 3-->
              <div class="row">
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer5 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-5" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>5.</strong>
                            <%= " #{ ques.answer5 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer6 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-6" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>6.</strong>
                            <%= " #{ ques.answer6 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
              </div>
              <br>
              <!--answer row 4-->
              <div class="row">
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer7 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-7" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>7.</strong>
                            <%= " #{ ques.answer7 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
                <div class="col-md-6" class = "mock_gameboard">
                  <% if ques.answer8 != "" %>
                       <div class="mock_answer">
                        <div id="mock_card-8" class="mock_card"> 
                           <div class="mock_front"> 
                            <strong>8.</strong>
                            <%= " #{ ques.answer8 }" %> 
                          </div> 
                        </div>
                      </div>
                    <% else %>
                      <div class="mock_emptyanswer"></div>
                  <% end %>
                </div>
              </div> <!-- row ans 7 & 8 -->
               <br> 
               
              <div class="row">
                <div class="col-md-12" class = "mock_gameboard">
                <% if ((ques.answer1 == "") || (ques.answer1.nil?)) %>
                  <%= link_to raw(" <i class='fa fa-plus'></i> Add an answer"), edit_game_question_path(ques.game_id, ques.id) %> 
                <% end %>
                </div>
              </div><!--Add answer-->
              <br>
              <div class="row">
                <div class="col-md-12">
                   <% if ((ques.note == "") || (ques.note.nil?)) %>
                       <%= link_to raw(" <i class='fa fa-plus'></i> Add a note for this question. "), edit_game_question_path(ques.game_id, ques.id) %> 
                   <% else %>
                      <b>Notes: </b> 
                      <%= " #{ ques.note }" %> 
                   <%end %>
                    <br><span class="side-note">Notes will only be visible after the game has been played.</span>
                </div>
              </div>
              <br> 
              <%= link_to raw(" <i class='fa fa-pencil'></i> Edit "), edit_game_question_path(ques.game_id, ques.id) %> |
              <%= link_to raw(" <i class='fa fa-trash-o'></i> Delete Question"),  game_question_path(ques.game_id, ques.id), 
                                      method: :delete, data: { confirm: "You sure you want to delete this question?" } %>
           <br><br>
          <% end %>
           </div> <!--question container -->
      <% end %>
  
<% end %>
        
        <!---->
        <!--End questions-->
        <!---->
        
         
         <%= f.submit "Save", class: "btn btn-primary" %>
        <hr>
         <%= link_to raw(" <i class='fa fa-play'></i> Play "),  game_questions_path(@game.id) %> |
         <%= link_to raw(" <i class='fa fa-plus'></i> Add Question "),  new_game_question_path(@game.id) %> |
         <%= link_to raw(" <i class='fa fa-trash-o'></i> Delete Game"), @game, method: :delete,
                                 data: { confirm: "You sure you want to delete this game?" } %> |
        <%= link_to raw(" <i class='fa fa-print'></i> Print Answer Key "), "/#{@game.id}/print_game" %> 
      <% end %>
    </div>
   
</div>


